@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

body {
    background-color: #000;
    width: 100%;
    height: auto;
    overflow: hidden; 
}

/* Carregamento */

  /* ini: Preloader */
   
  #preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms; /* cor do background que vai ocupar o body */
    z-index:999; /* z-index para jogar para frente e sobrepor tudo */
}
#preloader .inner {
    position: absolute;
    top: 50%; /* centralizar a parte interna do preload (onde fica a animaÃ§Ã£o)*/
    left: 50%;
    transform: translate(-50%, -50%);  
}
.bolas > div {
  display: inline-block;
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 3px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: animarBola;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  
}
.bolas > div:nth-child(1) {
    animation-duration:0.75s ;
    animation-delay: 0;
}
.bolas > div:nth-child(2) {
    animation-duration: 0.75s ;
    animation-delay: 0.12s;
}
.bolas > div:nth-child(3) {
    animation-duration: 0.75s  ;
    animation-delay: 0.24s;
}

@keyframes animarBola {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  16% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; 
  } 
}

/* nav */

nav {
    height: 100%;
    width: 70px;

    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

nav div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    flex-flow: column wrap;
    flex-wrap: wrap;
    width: 100%;
}

#email {
    writing-mode: vertical-rl; 
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    font-weight: 300;
    margin: 0;
    padding: 26px 0;
}

#social_media_group {
    padding: 26px 0;
}

.social_media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    margin-bottom: 30px;
}
.social_media img {
    width: 100%;
    height: auto;
}

#linkedin {
    margin: 0;
}

/* barra lateral */

#barra_lateral {
    height: 100%;
    width: 70px;

    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    background-color: transparent;

    box-sizing: border-box;
    flex-flow: column wrap;
    flex-wrap: wrap;
}

#logomarca {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    background-color: transparent;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#logomarca img {
    width: 50%;
    height: auto;
    opacity: 50%;
}

#barra_lateral div {
    width: auto;
}

.btn_menu {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    background-color: transparent;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_menu img {
    width: 30%;
    height: auto;
    opacity: 100%;
}

.btn_menu:hover {
    transition: 1s;
    background-image: url("https://ovictorhugo.github.io/img/opacity.svg");
}

#home {

}

#sobre {

}

#categorias {

}

#contato {
    background-image: url("https://ovictorhugo.github.io/img/opacity.svg");
}

#footer_menu {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
}

/*contatos 600px */

#contato_600px {
    display: none;
}

@media screen and (max-width: 600px) {
    #contato_600px {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }

    #contato_600px div {
        display: flex;
        align-items: center;
        justify-content: center;

        box-sizing: border-box;
        flex-direction: row;
        flex-flow: wrap;
        flex-wrap: wrap;
        width: 100%;
    }

    .social_media_600px {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18px;
        height: 18px;
        margin: 0 10px 0 10px;
    }
    .social_media_600px img {
        width: 100%;
        height: auto;
    }

    #email_600px {
        color: #FFF;
        font-family: 'Roboto', sans-serif;
        font-size: 10pt;
        font-weight: 300;
        margin: 0;
        padding: 26px 0;
    }
}

/* bar e main */

bar {
    height: 522px;
    min-height: 80px;
    width: 100%;
    display: flex;
    background-image: url("https://ovictorhugo.github.io/img/cabecalho/fundo_3.png");
    background-size: cover;
    background-repeat: no-repeat, repeat;
    background-position: top;
    position: absolute;
    top: 0;
    left: 0;
}

bar div {
    background: linear-gradient(0deg, #000 10%, transparent);
    width: 100%;
    height: 100%;
}

main {
    overflow: hidden;
    position: relative;
    display: block;
    padding: 0 80px 20px 195px;
}

.titulo {
    width: 100%;
    height: 100%;
    padding-top: 210px;
}

.titulo h2 {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20pt;
    font-weight: 900;
    margin-bottom: 20px;
    opacity: 50%;
}

.titulo h1 {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 35pt;
    font-weight: 900;
    margin-bottom: 90px;
}

.linhas {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

.linha {
    width: 100%;
    height: auto;
}

.titulo_linha {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    font-weight: 700;
    margin-bottom: 30px;
}

.paragrafo {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    font-weight: 300;
    padding: 0;
}

.subparagrafo {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    font-weight: 300;
    padding: 0;
    opacity: 70%;
    margin-top: 5px;
}

.input {
    width: 85%;
    height: auto;
    padding: 12px 16px;
    color: #FFF;
    border: none;
    margin: 0;
    border-radius: 7px;
    background-color: transparent;

    display: flex;
    
}

.input:focus {
    border: none;
    outline: 0;
}

@media screen and (max-width: 1230px) {
    .input {
        width: 80%;
    }
}

@media screen and (max-width: 992px) {
    .input {
        width: 70%;
    }
}

@media screen and (max-width: 960px) {
    .input {
        width: 61%;
    }
}

form {
    width: 100%;
}

#main_center {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#prazo {
    margin-bottom: 60px;
}

/*CHAT */

.direita {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-end;
    align-items: center;
}

.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
  }

.container p {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    font-weight: 300;
    padding: 0;
    margin-bottom: 20px;
}

#p_one {
    margin: 0;
}
  
  .darker {
    border-color: #ccc;
    background-color: transparent;
    background-image: url("https://ovictorhugo.github.io/img/opacity.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container img.right {
    float: right;

    margin-right:0;
  }
  
  .time-right {
    float: right;
    color: #aaa;
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    font-weight: 500;
  }
  
  .time-left {
    float: left;
    color: #999;
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    font-weight: 500;
  }

  .ctr_btn {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  #btn_enviar {
    border-color: #ccc;
    background-color: transparent;
    background-image: url("https://ovictorhugo.github.io/img/opacity.svg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #dedede;

    color: #ccc;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    font-weight: 300;
    padding: 12px 16px;
    border-radius: 7px;

    margin-top: 50px;
  }

  #btn_enviar:focus {
    outline: 0;
}

/* Footer */

footer {
    padding-top: 80px;
    height: 320px;
    background-color: #000;
    padding-left: 40px;
    padding-right: 40px;
}

.colunas_footer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: top;
    justify-content: center;

    flex-direction: row;
}

.coluna_footer {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.coluna_3 {
    width: auto;
    height: auto;
    display: flex;
}

.coluna_footer img {
    width: 30px;
    height: auto;
    opacity: 50%;
}

.coluna_footer h1 {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    font-weight: 500;
    margin-bottom: 20px;
    opacity: 50%;
}

.coluna_footer a {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    margin-bottom: 5px;
    opacity: 50%;
    text-decoration: none;
}

@media screen and (max-width: 960px) {
    footer {
        height: auto;
        margin-bottom: 30px;
    }

    .colunas_footer {
        flex-direction: column;
        justify-content: left;
    }
    .coluna_3 {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 550px) {
    .coluna_3 {
        flex-direction: column;
        margin-bottom: 0;
    }
    .coluna_footer {
        margin-bottom: 10px;
    }
    footer {
        margin-bottom: 100px;
    }
}
}


/* Menu Mobile */

body {
    padding: 0%;
    margin: 0%;
    background-color: #000;
}

#barra_inferior {
    display: none;
}

@media screen and (max-width: 600px) {
    #barra_inferior {
        display: flex;
        background: #222326;
        width: 100%;
        bottom: 0 !important;
        top: auto !important;
        height: 70px;
        padding: 0;
        box-shadow: 5px 5px 20px rgba(19, 86, 174, 0.16);

        position: fixed;
        flex-direction: row;
        justify-content: space-between;
        overflow: initial;
        z-index: 500;

    }

    #barra_inferior div {
        display: flex;
        width: 100%;
        flex-direction: row;
        max-width: 100%;
        width: 100%;
        justify-content: space-between;
        padding: 0;
        overflow: initial;
        margin-top: 0;
    }

    .btn_menu_inferior {
        flex: 1 1 auto;
        margin: 0;
        width: 35px;
        align-items: center;
        height: auto;
        border-radius: 5px;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn_menu_inferior img {
        width: 30%;
        height: auto;
        opacity: 100%;
    }

}

/* responsive */

@media screen and (max-width: 960px) {
    #barra_lateral {
        transition: 0.5s;
        margin-left: 20px;
    }

    main {
        transition: 0.5s;
        padding: 0 80px 20px 145px;
    }
}

@media screen and (max-width: 600px) {
    #barra_lateral {
        display: none;  
    }

    main {
        padding: 0 20px 0 20px;
    }

    nav {
        display: none;
    }

}



